name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: macOS
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      # Uncomment this when decoupling
      #- name: Build
      #  run: swift build -v
      - name: Run tests
        run: swift test -v
