name: Test and Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Build the cli
        run: swift build --target MachOReaderCLI
      - name: Run tests
        run: swift test
